body {
    background-color: rgb(224, 223, 223);
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr ;
}
header {

    background-color: #3c5a99;
    width: 850px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.interact {
    position: relative;
    top: -45px;
    left: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    border: none;
    color: #3c5a99;
}
#follow {
    margin: 0px;
    padding: 5px;
}
#message {
    margin: 0px;
}
#dots {
    margin: 0px;
    padding: 5px 20px;
}
h2 {
    position: relative;
    top: 15px;
    left: 200px;
    color: white;
    font-family: sans-serif;
    
}
h3 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
h4 {
    position: relative;
    left: 200px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}
nav {

    height: 50px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    justify-content: flex-end;
}

  
.navButton{
    border-top: none;
    border-bottom: none;
    border-left: none;
    margin: 15px 2.5px;
    text-align: center;
    font-size: 15px;
}
button:hover {
    text-decoration: underline #3c5a99;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
#prof {
    position: relative;
    top: 125px;
    left: 25px;
    border-width: thin;
    border-style: solid;
    border-color: black;
    background-color: #3c5a99;
    height: 150px;
    width: 150px;
    z-index: 1;
    }
#timeline {
    margin-left: 200px;
}

  .show {
      display:block;
}
.flex-container {
    display: grid;
    justify-content: inherit;
    grid-template-columns: auto auto auto;
  color: #444;
margin-left: 50px;
margin-right: 50px;
}
.line2{
    margin-top: 125px;
font-weight: lighter}


.column {
    margin-top: 10px;
    background-color: white;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    text-align: left;
}
#left-side {
    height: 175px;
   
    margin-bottom: 225px;
    display: flex;
    justify-content: center; 
 
}

#left {
     width: 328px;
   border: gray  1pt;
 margin-right: 25px;
}
#right {
    height: 200px;
    width: 512px;
    margin-bottom: 200px;
    display: flex;
   flex-flow: column;
   text-align: left;
   margin-left:10px;
}
.box {
    display:flex;
flex-direction: row;
    border-width: thin;
    border-style: solid;
    border-color: black;
    background-color: #3c5a99;
    height: 20px;
    width: 20px;
    margin-top: .2in;
    margin-left: 5px;
    justify-content:space-around;
}




#post-name {
    margin-bottom: 5px;
}
h6 {
    margin: 0px;
    font-weight: lighter;
    color: grey;
}
.post-button {
    position: relative;
    bottom: 7px;
    border: none;
    background-color: rgb(231, 228, 228)
}
#like-button {
    color: #3c5a99;
    margin-left: 15px;
    padding: 0px;
}
#comment {
    color: #3c5a99;
    margin: 0px;
    padding: 0px;
}
#share {
    color: #3c5a99;
    margin: 0px;
    padding: 0px;
}
#post-actions{
    position: relative;
    top: 30px;
    background-color: rgb(231, 228, 228);
    height: 40px;
    border-top: 1px solid rgb(204, 202, 202);
}
.icon {
    color: transparent;
    text-shadow: 0 0 black;
}
#right-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .box2{
        display:flex;
    flex-direction: row;
        border-width: thin;
        border-style: solid;
        border-color: black;
        background-color: #3c5a99;
        height: 20px;
        width: 20px;
        margin-top: .2in;
        margin-right: 5px;
    }


